<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a table of Data Science tools
- Show examples of arithmetic operators in Python
- Create and execute code cells in jupiter notebooks

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

### This markdown is shows three development environment open source tools used in data science
| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudio |
| Visual Stusio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

sum_result = 8 + 5
print("Addition:", sum_result)

#### Subtraction
sub_result = 10 - 3
print("Subtraction:", sub_result)

#### Multiplication
mul_result = 4 * 6
print("Multiplication:", mul_result)

#### Division
div_result = 15 / 3
print("Division:", div_result)

In [7]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Luisa Sarmiento